:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --action-color: #2196f3;
  --background-color: #2F303A;
  --background-white: #FFFFFF;
  --background-main: #E5E5E5;
  --background-our-team-section: #F5F4FA;
  --footer-links: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

h1, 
h2, 
h3, 
p, 
ul {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;

}

/* Header */

.link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link.mail,
.link.phone {
  color: var(--primary-text-color);
}
.link:hover,
.link:focus {
  color: var(--action-color);
}
.current {
  color: var(--action-color);
}
/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-span {
  color: var(--action-color);
}

/* Hero */

.hero {
  background-color: var(--background-color);
  text-align: center;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--background-white);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.btn {
  background-color: var(--action-color);
  color: var(--background-white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;

  padding:  10px 32px;
  border-radius: 4px;
}
.btn:focus {

}

/* Main */
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities.title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  padding: 0;

  margin-bottom: 10px;
}
.peculiarities-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* Our Work */

.our-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

/* Our Team */
.our-team {
  background-color: var(--background-our-team-section);

  padding-top: 94px;
  padding-bottom: 94px;
}
.photo {
  margin-bottom: 30px;
}
.our-team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}
.our-team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.our-team-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-team-list-item {
  padding-bottom: 30px;
}

/* Footer */
.footer {
  background-color: var(--background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-white);
  text-decoration: none;
  letter-spacing: 0.03em;

  padding: 0;
}
.footer-address {
  margin-top: 20px;
}
.address-text {
  color: var(--background-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding: 0;
  margin-bottom: 9px;
}
.link.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-links);

  padding: 0;
  margin-bottom: 9px;
}

/* Portfolio page */

.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--background-our-team-section);
}
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--secondary-text-color);
  border-color: transparent;
  border-radius: 4px;

  padding: 6px 22px 6px 22px;
}
.portfolio-btn:hover {
  background-color: var(--action-color);
  color: var(--background-main);
}
.portfolio-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}